.card__pokemon-data span {
  margin-right: 15px;
}

.card__pokemon-data i {
  margin-right: 5px;
}

.card__pokemon-abilities {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.card__pokemon-ability {
  display: grid ;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 5px;
}
