.pokemon__card {
  height: auto;
  min-height: 250px;
  min-width: 170px;
  padding-bottom: 1rem;
  background-color: white;
  border-radius: 15px 15px;
  margin: 1rem;
}

.pokemon__card:hover {
  cursor: pointer;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.514);
}

.pokemon__card img {
  position: relative;
  top: -40px;
  width: 140px;
  height: 140px;
}

.pokemon__name {
  font-weight: bold;
}

.pokemon__card-background {
  height: 100px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
}

.card__type {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card__type span {
  display: flex;
}

.card__type-type {
  text-rendering: optimizeLegibility;
  margin: 0.2rem;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
}

.card__stats {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card__stat-info {
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.card__stat-info span {
  font-size: 10px;
  font-weight: bold;
  margin: auto;
}

.card__stat-info progress {
  height: 6px;
  width: 100%;
  border-radius: 10px;
}

::-webkit-progress-bar {
  background-color: rgb(255, 255, 255);
}

::-webkit-progress-value {
  background-color: orange;
}

.rock {
  background-color: rgb(194, 75, 75);
}
.ghost {
  background-color: rgb(172, 171, 171);
}
.electric {
  background-color: #f9cf30;
}
.flying {
  background-color: rgb(81, 104, 129);
}
.bug {
  background-color: #a7b724;
}
.ground {
  background-color: #926615;
}
.poison {
  background-color: #c746fa;
}
.normal {
  background-color: #7e7d7d;
}
.fairy {
  background-color: rgba(250, 124, 145, 0.863);
}
.fire {
  background-color: #fd3713;
}
.grass {
  background-color: #73cb49;
}
.steel {
  background-color: #b7b9d0;
}
.fighting {
  background-color: #9e255d;
}
.psychic {
  background-color: #d1b58c;
}
.water {
  background-color: #5fbbfd;
}
.dragon {
  background-color: #61180b;
}
